.asideright{
    background: linear-gradient(0deg, #D04ED6 0%, #834D9B 100%);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
    
}

.ic1active{
    @apply h-16 w-16 bg-white rounded-2xl flex justify-center items-center hover:cursor-pointer;
  }
  
  .ic1{
    @apply h-16 w-16 bg-white rounded-2xl flex justify-center items-center hover:cursor-pointer;
    outline:3px solid rgb(249, 115, 22);
    outline-offset: 3px;
  }