@tailwind base;
@tailwind components;
@tailwind utilities;
/*
@font-face {
   font-family: Jost;
  src: url("../src/fonts/Jost/Jost-VariableFont_wght.ttf");
  font-weight: Normal;
  font-style: normal; 

 
}*/

@font-face {
  font-family: Montserrat;
  src: url("./fonts/MontSerra/Montserrat-VariableFont_wght.ttf");
  font-weight: Normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  color: #f3f2f3;
  font-family: Jost;
  font-weight: 600;
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.gradient {
  background-image: url("../src/img/background_intro.svg");
}

.shadow-nav {
  box-shadow: 9px 15px 13.9px 0px rgba(0, 0, 0, 0.25);
}

.polygon::before {
  content: "";
  position: absolute;
  top: 25%;
  left: -8px;
  width: 12px;
  height: 50%;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background: white;
}

.polygon {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
}

.Link:hover .polygon {
  visibility: visible;
  opacity: 1;
}
